<div class="container margenes">
    <div class="row">
        <div class="col">
            <form action="">
                <div class="mb-3">
                    <input type="text" class="form-control"
                        placeholder="Usuario">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control"
                        placeholder="Contraseña">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>